p {
  text-indent:1em;
}

.header {
    margin: 0;
    padding: 12px 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.header-navi {
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

.header-navi>li {
    margin: 0;
    padding: 0 12px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

.header-navi>li a {
    display: block;
    padding: 6px 12px;
    font-size: 240%;
    color: #000;
    text-decoration: none;
}

.header-navi>li a.active {
    border-bottom: #000 solid 2px;
    color: #999;
}

#pageTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 16px;
  z-index:10000;
}

#pageTop a {
  display: block;
  background-color: #ccc;
  text-align: center;
  color: #222;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

#pageTop a:hover {
  display: block;
  background-color: #b2d1fb;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  padding:5px 10px;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.main {
  background-color: #fff;
	margin:0 auto;
  width: 83%;
  text-align: left;
  word-break : break-all;
}

.map {
  text-align: center;
  border:0;
}

.footer {
  background-color: #333;
  text-align: center;
}
